.container {
  min-height: 95vh;
  max-width: 1440px;
  background-color: var(--card);
  margin: 5rem auto;
  border: 1px solid var(--border);
  border-radius: 3rem;
  box-shadow: 0 1.5rem 2rem var(--shadow);
}

.content {
  padding: 8rem 8rem;
}

.movies {
  margin-top: 8rem;
  font-size: 1.8rem;
  color: #acabb3;

  &-btn {
    margin-top: 3rem;
    color: #acabb3;
    display: flex;
    justify-content: space-between;
  }
}
