.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;

  background-color: var(--bg);
  width: 100%;
  padding: 1.8rem 3rem 1.5rem 3rem;
  color: var(--text);
  text-transform: uppercase;
  font-family: var(--mono);
  font-size: 2rem;

  &-logo span {
    color: var(--gold);
    font-weight: 300;
    // transform: translateX(-5px);
  }
  &-logo--text {
    font-weight: 300;
  }

  &-mode {
    display: flex;

    &-btn {
      padding: 1rem 1.5rem;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      font-weight: 500;
      font-family: var(--display);
      color: var(--muted);

      border: 1px solid var(--border);

      &--movie {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        padding: 1.5rem 2.8rem;
      }

      &--tv {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 1.5rem 2rem;
      }
    }

    &-btn--active {
      background-color: var(--gold);
      color: var(--surface);
      font-weight: 800;
    }
  }
}

.master {
  text-align: center;
  &-header {
    font-size: 5.5rem;
    text-transform: uppercase;
    font-family: var(--mono);
    font-weight: 800;
    line-height: 5rem;
    letter-spacing: 2px;

    & span {
      color: var(--gold);
    }
  }

  &-sub-text {
    color: var(--muted);
    width: 100%;
    margin-top: 3rem;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-size: 2.3rem;
  }

  &-input {
    width: 70%;
    padding: 1.7rem 2rem;
    font-size: 2rem;
    color: var(--muted);
    font-weight: 400;
    border: 1px solid var(--border);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    // outline-color: var(--gold);
    outline: none;
    // outline-style: 1px solid;
    // transition: all 0.2s;

    &-btn {
      margin-top: 8rem;
      padding: 1.7rem 2rem;
      font-size: 2rem;
      border: 1px solid var(--border);
      color: var(--surface);
      font-weight: 700;
      text-transform: capitalize;
      background-color: var(--gold);
      transform: translateX(-10px);
      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem;

      &:active {
        border: 1px solid var(--border);
        outline: none;
      }
    }
  }
}

.movies {
  &-trend {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: var(--muted);
    font-family: var(--mono);
    letter-spacing: 2px;
  }

  &-grid {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    &-items {
      display: flex;
      flex-direction: column;

      border: none;
      // height: 30rem;
      width: 30%;
      background-image: linear-gradient(45deg, #3a2464, #573a8d);
      position: relative;
      border-radius: 1rem;
      overflow: hidden;

      &-container {
        // width: 100%;

        height: 30vh;
      }

      &-img {
        width: 100%;
        height: 100%;
      }

      &-info {
        padding: 1rem;
        background-color: var(--bg);
        &-year {
          color: var(--muted);
        }
      }
    }
  }
}

.detailed-view {
  &-btn--back {
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--gold);
    background-color: transparent;
    border: none;
    letter-spacing: 2px;
    font-family: var(--mono);
    cursor: pointer;

    display: flex;
    align-items: center;
  }

  &-content {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
    &-right {
      height: 40vh;
      border-radius: 1rem;
      overflow: hidden;
      // flex: %;
      background-image: linear-gradient(45deg, #3a2464, #573a8d);
    }

    &-left {
      flex: 1;
      line-height: 4rem;
      position: relative;
      &--btn {
        position: absolute;
        bottom: 0;

        background-color: transparent;
        border: 1px solid var(--gold);
        color: var(--gold);
        padding: 1.5rem;
        font-size: 1.6rem;
        width: 40%;
        text-transform: capitalize;
      }

      &-chips {
        display: flex;
        gap: 1rem;
        font-family: var(--mono);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.6rem;
        &-text {
          padding: 0rem 1rem;
          border: 1px solid var(--border);
          color: var(--muted);
        }
      }

      &-header {
        margin-top: 2rem;
        font-family: var(--mono);
        text-transform: uppercase;
        word-spacing: 0.5rem;
      }

      &-info {
        display: flex;
        gap: 2rem;
        color: var(--muted);
      }

      &-ratings {
        display: flex;
        align-items: center;
        line-height: 2.5rem;
        margin-top: 2rem;

        &-rate {
          padding-right: 2rem;
          color: var(--gold);
          font-size: 5rem;
        }

        &-info-text {
          font-family: var(--mono);
          color: var(--muted);

          &--2 {
            color: #adadd4;
          }
        }
      }
      &-about {
        margin-top: 3rem;
        line-height: 2.5rem;
        letter-spacing: 1.3px;
        color: #cdcdf7b4;
        font-size: 2rem;
      }
    }
  }
}
