.hidden {
  display: none;
}

.trans--1 {
  position: absolute;
  left: 10%;
}

.card--active {
  border: 4px solid var(--gold);
  transform: translateY(-1.2rem);
}

/////////////////////
/// LOADER
.loader {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  animation: loader 0.5s infinite;

  &-spinner {
    fill: var(--border);
  }
}

.errorMessage {
  color: rgb(153, 38, 38);
  text-align: center;
}
.err-btn {
  padding: 1rem 2rem;
  border: 3px solid var(--border);
  border-radius: 4px;
  background-color: transparent;
  color: var(--muted);
  font-size: 2.7rem;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 1px 0 2rem var(--muted);
  }
}
.err {
  margin-top: 1.4rem;
  display: flex;
  justify-content: center;
}
